[defaults]
# This tells the project sync to ignore the "pre-release" flag
# for all collections found in your Hub.
ignore_pre_release = True

[galaxy]
server_list = automation_hub

[galaxy_server.automation_hub]
url = https://gateway.teneceocp.com/api/galaxy
# Note: The Project Sync will use the 'pah_credential' you 
# attached to the Organization for authentication automatically.
